# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [3]:
import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [2]:
a = pd.Series([100, 200, 300, 400])

Print a, and data type

In [4]:
print("Series a:")
print(a)

print("\nData type of Series a:")
print(type(a))

Series a:
0    100
1    200
2    300
3    400
dtype: int64

Data type of Series a:
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [5]:
element_300 = a[2]

print("Element 300 from Series a:", element_300)

Element 300 from Series a: 300

What are the values of index for series a?

In [6]:
index_values = a.index

print("Index values for Series a:", index_values)

Index values for Series a: RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [7]:
a = a.reindex(['c', 'a', 'b', 'd'])

# Display the Series with the new index
print("Series a with new index:")
print(a)

Series a with new index:
c   NaN
a   NaN
b   NaN
d   NaN
dtype: float64

Access the value in the series with index 'd'

In [8]:
value_d = a['d']

print("Value with index 'd' in Series a:", value_d)

Value with index 'd' in Series a: nan

Sort the values wrt to the index and print it

In [9]:
sorted_a = a.sort_index()

print("Sorted Series a based on index:")
print(sorted_a)

Sorted Series a based on index:
a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [11]:
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])

print("Series b:")
print(b)

Series b:
e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [13]:
a = pd.Series([100, 200, 300, 400], index=['c', 'a', 'b', 'd'])

b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])

result_series = a.append(b)

print("Combined Series after appending b to a:")
print(result_series)

Combined Series after appending b to a:
c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

<ipython-input-13-5d419a2002fa>:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_series = a.append(b)

In [14]:
#print a again after appending b into it
print("Series a after appending b:")
print(a)

Series a after appending b:
c    100
a    200
b    300
d    400
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [17]:
sorted_a_desc = a.sort_values(ascending=False)

print("Sorted Series a in descending order:")
print(sorted_a_desc)

Sorted Series a in descending order:
d    400
b    300
a    200
c    100
dtype: int64

In [18]:
print("\nIndex of the sorted Series:")
print(sorted_a_desc.index)

Index of the sorted Series:
Index(['d', 'b', 'a', 'c'], dtype='object')

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
# df =

What is the shape of the datafarme <br>
(also, what does it imply?)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

Rename the column of the dataframe as 'points'

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [ ]:
#Create fruits array

# fruits =

In [ ]:
#Create series fruits out of fruits array

# fruits =

Change the index of fruits to the index of dataframe df

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [20]:
data = {'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
        'Temperature': [15, 22, 20, 26, -2]}

d1 = pd.DataFrame(data)

Print(d1)

In [21]:
print("DataFrame d1:")
print(d1)

DataFrame d1:
         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [22]:
shape_d1 = d1.shape
print("Shape of DataFrame d1:", shape_d1)

Shape of DataFrame d1: (5, 2)

Set city = d1['city']

In [23]:
city = d1['city']

print city <br>
What is the type of city.

In [25]:
print("Variable city:")
print(city)
print("Type of variable city:", type(city))

Variable city:
0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
Type of variable city: <class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengaluru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [27]:
data2 = {'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
         'Temperature': [24, 35, 36, 39]}

d2 = pd.DataFrame(data2)

print the shape of this dataframe

In [28]:
shape_d2 = d2.shape

print("Shape of DataFrame d2:", shape_d2)

Shape of DataFrame d2: (4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [29]:
d3 = pd.merge(d1, d2, how='outer')

print("Merged DataFrame d3:")
print(d3)

Merged DataFrame d3:
          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengaluru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [34]:
d3 = pd.DataFrame({
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali', 'Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature_x': [15, 22, 20, 26, -2, None, None, None, None],
    'Temperature_y': [None, None, None, None, None, 24, 35, 36, 39]
})

In [35]:
selected_cities = d3[d3['Temperature_x'] <= 20]

num_cities = selected_cities.shape[0]

In [36]:
print("Selected cities with temperature less than or equal to 20:")
print(selected_cities)
print("\nNumber of cities:", num_cities)

Selected cities with temperature less than or equal to 20:
         city  Temperature_x  Temperature_y
0  Chandigarh           15.0            NaN
2      Kanpur           20.0            NaN
4      Manali           -2.0            NaN

Number of cities: 3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [41]:
selected_cities = d3[(d3['Temperature_x'] >= 35) | (d3['Temperature_y'] >= 35)]

print("Selected cities with temperature greater than or equal to 35:")
print(selected_cities)

Selected cities with temperature greater than or equal to 35:
          city  Temperature_x  Temperature_y
6   Coimbatore            NaN           35.0
7    Srirangam            NaN           36.0
8  Pondicherry            NaN           39.0

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [48]:
d3 = pd.DataFrame({
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali', 'Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature_x': [15, 22, 20, 26, -2, None, None, None, None],
    'Temperature_y': [None, None, None, None, None, 24, 35, 36, 39]})

# Creating a new column 'IsUnionTerritory' with boolean values
d3['IsUnionTerritory'] = d3['city'].isin(['Chandigarh', 'Delhi', 'Pondicherry'])

In [47]:
print("Updated DataFrame d3 with IsUnionTerritory column:")
print(d3)

Updated DataFrame d3 with IsUnionTerritory column:
          city  Temperature_x  Temperature_y  IsUnionTerritory
0   Chandigarh           15.0            NaN              True
1        Delhi           22.0            NaN              True
2       Kanpur           20.0            NaN             False
3      Chennai           26.0            NaN             False
4       Manali           -2.0            NaN             False
5    Bengaluru            NaN           24.0             False
6   Coimbatore            NaN           35.0             False
7    Srirangam            NaN           36.0             False
8  Pondicherry            NaN           39.0              True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [49]:
# write function here
def c_to_f(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

In [50]:
# check function c_to_f(10)
result = c_to_f(10)
print("Temperature in Fahrenheit:", result)

Temperature in Fahrenheit: 50.0

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [56]:
data1 = {'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
         'Temperature': [15, 22, 20, 26, -2]}
union_territories = ['Chandigarh', 'Delhi', 'Pondicherry']

subset_union_territories = d1[d1['city'].isin(union_territories)]

In [57]:
print("Subset of d1 with union territories:")
print(subset_union_territories)

Subset of d1 with union territories:
         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [58]:
d1 = pd.DataFrame(data1)
temp_threshold_celsius = (90 - 32) * 5/9

subset_above_90_fahrenheit = d1[d1['Temperature'] > temp_threshold_celsius]

In [59]:
print("Subset of d1 with temperatures above 90 Fahrenheit:")
print(subset_above_90_fahrenheit)

Subset of d1 with temperatures above 90 Fahrenheit:
Empty DataFrame
Columns: [city, Temperature]
Index: []

Select only the first three rows of the dataframe d1.

In [60]:
subset_first_three_rows = d1.iloc[:3]

In [62]:
print("Subset of d1 with the first three rows:")
print(subset_first_three_rows)

Subset of d1 with the first three rows:
         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20

Select all the rows and last two columns in the dataframe.

In [61]:
subset_last_two_columns = d1.iloc[:, -2:]

In [63]:
print("Subset of d1 with all rows and last two columns:")
print(subset_last_two_columns)

Subset of d1 with all rows and last two columns:
         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

## Groupby

In [64]:
# Create a dataframe using dictionary of your choice
data = {'Name': ['Ravi', 'Bushan', 'Charlie', 'Dravid', 'Evanka'],
    'Age': [25, 30, 22, 35, 28],
    'City': ['Gulbarga', 'Andhra', 'London', 'Tokyo', 'Paris'],
    'Salary': [60000, 80000, 55000, 90000, 70000]}

In [65]:
df = pd.DataFrame(data)

In [66]:
print("DataFrame created using a dictionary:")
print(df)

DataFrame created using a dictionary:
      Name  Age      City  Salary
0     Ravi   25  Gulbarga   60000
1   Bushan   30    Andhra   80000
2  Charlie   22    London   55000
3   Dravid   35     Tokyo   90000
4   Evanka   28     Paris   70000

In [68]:
# Use Groupby of single column with aggregate sum()

grouped_by_city = df.groupby('City')['Salary'].sum()

In [69]:
print("Sum of Salary grouped by City:")
print(grouped_by_city)

Sum of Salary grouped by City:
City
Andhra      80000
Gulbarga    60000
London      55000
Paris       70000
Tokyo       90000
Name: Salary, dtype: int64

In [71]:
# Use Groupby of single column with aggregate count()
grouped_by_city_count = df.groupby('City')['Name'].count()

print("Count of occurrences grouped by City:")
print(grouped_by_city_count)

Count of occurrences grouped by City:
City
Andhra      1
Gulbarga    1
London      1
Paris       1
Tokyo       1
Name: Name, dtype: int64

In [72]:
# Use Groupby of single column with aggregate min() and max()
grouped_by_city_min_max = df.groupby('City')['Salary'].agg(['min', 'max'])
print("Minimum and Maximum Salary grouped by City:")
print(grouped_by_city_min_max)

Minimum and Maximum Salary grouped by City:
            min    max
City
Andhra    80000  80000
Gulbarga  60000  60000
London    55000  55000
Paris     70000  70000
Tokyo     90000  90000

In [73]:
# Use Groupby of any 2 columns with aggregate mean()
grouped_by_city_age_mean = df.groupby(['City', 'Age']).mean()
print("Mean Salary grouped by City and Age:")
print(grouped_by_city_age_mean)

Mean Salary grouped by City and Age:
               Salary
City     Age
Andhra   30   80000.0
Gulbarga 25   60000.0
London   22   55000.0
Paris    28   70000.0
Tokyo    35   90000.0

<ipython-input-73-1c8848ce52f9>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_by_city_age_mean = df.groupby(['City', 'Age']).mean()

In [74]:
# Use Groupby of any 2 columns with aggregate min() and max()
grouped_by_city_age_min_max = df.groupby(['City', 'Age'])['Salary'].agg(['min', 'max'])
print("Minimum and Maximum Salary grouped by City and Age:")
print(grouped_by_city_age_min_max)

Minimum and Maximum Salary grouped by City and Age:
                min    max
City     Age
Andhra   30   80000  80000
Gulbarga 25   60000  60000
London   22   55000  55000
Paris    28   70000  70000
Tokyo    35   90000  90000

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [75]:
# a =
start_date = '2020-01-01'
end_date = '2021-04-01'
a = pd.date_range(start=start_date, end=end_date)

print a

In [76]:
print("Date Range 'a':")
print(a)

Date Range 'a':
DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [78]:
length_of_a = len(a)
print("Length of the date range 'a':", length_of_a)

Length of the date range 'a': 457

What is the type of a?

In [79]:
type_of_a = type(a)

In [80]:
print("Type of the variable 'a':", type_of_a)

Type of the variable 'a': <class 'pandas.core.indexes.datetimes.DatetimeIndex'>